<!DOCTYPE html>
<html>
  <head>
    <title>Bluebird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>
  <div>
    <header>
      <p>つぶやきアプリ</p>
    </header>
  </div>

  <body>
    <%= yield %>
  </body>
  <div>
    <footer>
      <p>(c)copy right</p>
    </footer>
  </div>
</html>
